@font-face {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/PT-Root-UI_Regular.ttf');
}

@font-face {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/PT-Root-UI_Medium.ttf');
}



@font-face {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/PT-Root-UI_Bold.ttf');
}


